
*{
  font-family: 'Lato', sans-serif;
}

body{
 /* background-image: url('Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
 
}

.main{
  display: grid;
  grid-column-gap: 50px ;
  grid-row-gap: 20px ;
  font-weight: 100;
  background-color: rgba(255, 255, 255, .7);
  padding: 30px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  
}
#navigation{
  block-size: 100px;
  text-align: center;
  padding: 100px;
}
.nav{
  
 }
 .nav a{
  margin: 2%;
  font-size: 15px;
  color: gray;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
}
.nav a:hover{
  color: lightgray;
}

.Col_1{
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

.Col_2{
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

#contact{font-size: 15px;}
.textbody{
   color: rgb(0,0,0);
   font-size: 130%;
   max-width: 550px;
   max-height: 550px;
}


#name{
  font-size: 50px;
}
a{
  margin: 10px;
}
.Bio{
  
  color: gray;
  text-align: left;
  width: 60%;
  /* margin: 1% auto; */
  font-size: 15px;
}